.editForm {
  text-align: center;
  align-content: space-between;
  background-color: #6d6a6a;
  border-radius: 3px;
  display: flex;
  margin-left: 20vw;
  padding: 5px;
  width: 850px;
}

.editForm input {
  background-color: rgb(212, 212, 212);
  border-radius: 3px;
  color: black;
  font-size: 15px;
  margin: 2px;
  padding: 3px;
  width: 100px;
}

.editForm .name {
  width: 252px;
}

.editForm .cpf {
  width: 120px;
}

.editForm .salary {
  width: 80px;
}

.editForm .discount {
  width: 80px;
}

.editForm .dependents {
  width: 80px;
}