.dataAndButtons {
  display: flex;
}

.section {
  text-align: center;
  align-content: space-between;
  background-color: #6d6a6a;
  border-radius: 3px;
  display: flex;
  margin-left: 20vw;
  margin-right: 0;
  padding: 5px;
  width: 850px;
}

.section span {
    background-color: rgb(212, 212, 212);
    border-radius: 3px;
    color: black;
    font-size: 15px;
    margin: 2px;
    padding: 3px;
    width: 150px;
    height: 18px;
}

.buttonsDeleteAndEdit {
  margin-right: auto;
  margin-left: 0;
}

.buttonsDeleteAndEdit button {
  margin-top: 2px;
  height: 35px;
}

.section #name {
  width: 220px;
}

.section #cpf {
  width: 160px;
}

.section #salary {
  width: 85px;
}

.section #discount {
  width: 85px;
}

.section #dependents {
  width: 85px;
}
