.fields {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.forms {
  background-color: rgb(212, 212, 212);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  font-size: medium;
  padding: 15px;
}

.forms input {
  display: flex;
  align-items: flex-end;
  margin: 5px;
}

.subtitle {
  display: flex;
  align-items: center;
}

